.map-container { /*This class is used to style the map container */
    width: 100%; /* Full width of the parent container */
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px; /* Prevent invisible blank state */

}
